
{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="bs-example" data-example-id="striped-table">
<table class=" table-striped"> 
<caption>Optional table caption.</caption> 
<thead> 
<tr> 
	<th>#</th> 
	<th>January</th> 
	<th>February</th> 
	<th>March</th> 
	<th>April</th> 
	<th>May</th> 
	<th>June</th> 
	<th>July</th> 
	<th>August</th> 
	<th>September</th> 
	<th>October</th> 
	<th>November</th> 
	<th>December</th> 
	</tr> 
</thead> 
<tbody> 
<tr> 
<th scope="row">1</th> 
{% for book in books %}
<td>{{Year}}</td> 
<td>{{p}}</td> 
{% endfor %} 
</tr> 
 </tbody> 
</table>
</div>
{% endblock content %}