{% load staticfiles %}
<!DOCTYPE html>

<html>


<head>

	
<meta charset="utf-8">
	
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
<meta name="viewport" content="width=device-width, initial-scale=1">

	
<title>Stock Optimization</title>

	
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
	
<link rel="stylesheet" href="{% static 'css/header.css' %}">
	
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

	
<header class="header-basic-light">


	<div class="header-limiter">


		<h1><a href="#">Stock<span>Optimization</span></a></h1>


		<nav>
<a href="/">Home</a>
		<a href="/Isbn" class="selected">Predict</a>

		<a href="/Pricing/">Pricing</a>

		<a href="#">About</a>

		<a href="#">Faq</a>

		<a href="#">Contact</a>
		
		</nav>

	</div>

	
</header>

	


</head>


<body>



                <div class="col-md-9">
                    {% block content %}
		    {% endblock %}
                </div>
		

			

</body>
</html>