{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
<div class="content container">
        <div class="row">
	    <div class="col-md-8">
		<form action="submit/" method="post">{% csrf_token %}
		<select name="myList">
		<option value = "CS">CS</option>
	        <option value = "ST">ST</option>
        	<option value = "NHE">NHE</option>
		</select>
    		<input type="submit" value="Submit"class="btn btn-primary"></button>
		</form>
            </div>
        </div>
   
     </div>

{% endblock content %}